/* General Styles */
body {
    font-family: 'Karla', sans-serif;
    background-color: #f3f0e9;
    margin: 0;
    padding: 0;
    color: #333; /* Set default text color to a dark color for readability */
}

.wrapper {
    width: 100%;
    overflow: hidden; /* Prevent overflow */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

/* Header and Navigation */
header {
    background-color: #000;
    color: #fff;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}

nav {
    display: flex;
    align-items: center;
}

.nav-ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-left: 2rem;
}

.nav-item a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.nav-item a:hover {
    text-decoration: underline;
}

/* Hero Section */
.explore-container {
    text-align: center;
    padding: 4rem 1rem;
    background: url('..//images/hero-background.jpg') no-repeat center center/cover;
    color: #fff;
    position: relative;
}


.explore-container h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

.explore-container p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.explore-container .button {
    background-color: white;
    color: black;
    border: none;
    padding: 0.5rem 2rem;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
}

.explore-container .button:hover {
    background-color: #966f2c;
    color: #fff;
}



/* Welcome Section */
.welcome {
    margin: 2rem 0;
    text-align: center;
}

.welcome .image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
}

.welcome .image-gallery img:first-child {
    grid-column: span 2; 
}

.welcome .image-gallery img {
    width: 100%;
    height: auto;
}

.welcome .welcome-content {
    margin-top: 2rem;
}

.welcome-content h1 {
    color: #d69e3d;
    text-transform: uppercase;
}

.welcome-content p {
    font-size: 1.5rem;
    color: #000;
}



/* Offer Section */

.offer {
    text-align: center;
    margin: 2rem 0;
}

.offer h1 {
    color: #d69e3d;
    text-transform: uppercase;
    text-align: center;
}

.offer p {
    font-size: 1.2rem;
    color: #333;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem 0;
}

.product img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.product h4 {
    margin: 0.5rem 0;
    color: #333;
}

/* Menu and Locations Section */
.container-explore {
    background: url('..//images/coffee-shop.jpeg') no-repeat center center/cover;
    color: #fff;
    padding: 4rem 1rem;
    text-align: center;
    position: relative;
}

.container-explore::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.container-explore .explore {
    position: relative;
    z-index: 2;
}

.container-explore h1 {
    color: #d69e3d;
    text-transform: uppercase;
}

.container-explore p {
    font-size: 1.5rem;
    color: #fff;
}

.container-explore .button {
    background-color: white;
    color: black;
    border: none;
    padding: 0.5rem 2rem;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: 1rem 0;
    text-decoration: none;
}
.container-explore .locations-button{
    background-color: transparent;
    border: 2px solid #fff;
    color: white;
}
.container-explore .button:hover {
    background-color: #966f2c;
    color: #fff;
}

/* About Us Section */
.container-about {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0;
}

.container-about img {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-right: 2rem;
}

.container-about .about {
    max-width: 600px;
}

.container-about h1 {
    color: #d69e3d;
    text-transform: uppercase;
}

.container-about p {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 1rem;
}

.container-about .button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 0.8rem 2.5rem;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

.container-about .button:hover {
    background-color: #860a0a;
}

/* Testimonials Section */

 .container-testimonials {
    text-align: center;
    background-color: #000;
    margin: 2rem 0;
}

.container-testimonials h1 {
    color: #d69e3d;
    text-transform: uppercase;
    text-align: left;
}

.container-testimonials p {
    font-size: 1.2rem;
    color: #fff;
    text-align: left;
}

.client-testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}



.testimonial img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.testimonial h2 {
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 0.5rem;
    color: #d69e3d;
}

/* Footer */
.footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #000;
    color: #fff;
} 

/* tablet */
@media screen and (min-width: 768px) {
   
    .explore-container .Explore h1 {
        font-size: 2rem;
        max-width: 60%;
        margin: 0 auto;
    }
    
    .explore-container .Explore p {
        font-size: 1rem;
        margin: 0 auto;
       max-width: 70%;
       margin-bottom: 20px;
    }
    
    
    .welcome .image-gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 1rem;
    }
    
    
    .welcome-content h1 {
        text-align: left;
        font-size: 1rem;
    }
    
    .welcome-content p {
        text-align: left;
        max-width: 50%;
        font-size: 2rem;
    }
    
    .welcome .image-gallery{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 10px;
    }
    
    .image-gallery img:nth-child(1) {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }
    
    .image-gallery img:nth-child(2),
    .image-gallery img:nth-child(3),
    .image-gallery img:nth-child(4),
    .image-gallery img:nth-child(5) {
        grid-column: span 1;
        grid-row: span 1;
    }
    
    /* Offer Section */
.offer-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto;
    gap: 20px;
    justify-items: center;
    align-items: start;
}

.offer-grid .product:nth-child(1) {
    grid-column: span 3; 
    grid-row: 1;
    justify-self: start;
}

.offer-grid .product:nth-child(2) {
    grid-column: 4 / span 3; 
    grid-row: 1;
    justify-self: end;
}

.offer-grid .product:nth-child(3) {
    grid-column: span 6; 
    grid-row: 2;
    justify-self: center;
}

.offer-grid .product img {
    margin: 0 auto 1rem;
}

.offer-grid .product h4 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.offer-grid .product p {
    font-size: 1rem;
    color: #333;
    text-align: center;
}

.offer h1 {
    font-size: 2rem;
    color: #d69e3d;
    text-align: center;
}

.offer p {
    font-size: 1.5rem;
    color: #333;
    text-align: center;
}


.container-explore {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
    gap: 2rem;
}

.explore {
    flex: 1;
    text-align: center;
}
.container-about {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0;
}

.container-about img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.container-about .about {
    flex: 1;
    padding: 1rem;
}

.container-about .about h1 {
    font-size: 0.8rem;
    color: var(dark-yellow); 
    
}

.container-about .about p {
    font-size: 1rem;
}

 .testimonial {
    width: calc(100% / 3 - 1rem);
    margin: 1rem 0;
}

.container-testimonials h1 {
   margin: 20px;
}

.container-testimonials p {
    margin: 20px;

}


}
